/* xl-container:1140px*/

@media (min-width: 1200px) and (max-width: 1500px) {}

/* lg-container:960px*/

@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu nav ul li {
    margin-left: 20px;
  }
  .header-area {
    padding: 0 20px;
  }
  .slider-inner h2 {
    font-size: 41px
  }
  .col-xl-3.ml2 {
    margin-left: 0;
    margin-right: 0
  }
  .blog-thumb img {
    width: 100%
  }
  .slick-list:focus {
    outline: none !important
  }
}

/* md-container:720px*/

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding: 0 20px
  }
  .hire-us a {
    padding: 8px 30px
  }
  .main-menu nav ul li {
    margin-left: 15px;
  }
  .main-menu nav ul li {
    padding: 50px 0px;
  }
  .single-feature h3 {
    font-size: 16px;
  }
  .single-feature p {
    font-size: 17px;
  }
  .single-feature h3 {
    font-size: 18px;
  }
  .about-img.img-fluid {
    align-content: center
  }
  .about-text h3::before {
    display: none
  }
  .about-text a.btn {
    text-align: center !important;
    overflow: hidden;
  }
  .about-img {
    padding: 20px 40px;
  }
  .subscribe-form form input {
    width: 20%;
  }
  .services-wrapper {
    margin-bottom: 40px;
  }
  .col-xl-3.ml2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .copyright-text {
    text-align: center;
  }
  .footer-menu.text-right {
    text-align: center !important;
  }
  .main-menu ul {
    padding: 5px 0px;
  }
  .main-menu nav ul li {
    padding: 0px 0px;
  }
  .main-menu ul {
    padding: 50px 0px;
  }
  .main-menu nav ul li a {
    font-size: 12px;
  }
  .main-menu ul li .mega-menu {
    left: -862%;
  }
}

/* sm-container:540px*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area {
    padding: 25px 50px
  }
  .slider-inner h2 {
    font-size: 43px;
  }
  .single-feature i {
    margin-top: 30px;
  }
  .about-img {
    padding: 35px 35px;
  }
  .subscribe-form form input {
    width: 17%;
    margin: 15px 5px
  }
  .area-title h3 {
    font-size: 25px
  }
  .copyright-border {
    text-align: center
  }
  .footer-menu.text-right {
    text-align: center!important;
  }
}

/* xm-container:400px*/

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .header-area {
    padding: 25px 50px
  }
  .slider-inner h2 {
    font-size: 35px;
  }
  .single-feature i {
    margin-top: 30px;
  }
  .about-img {
    padding: 35px 35px;
  }
  .subscribe-form form input {
    width: 25%;
    margin: 0px 5px
  }
  .subscribe-area {
    padding: 10px 0px
  }
  .area-title h3 {
    font-size: 26px
  }
  .subscribe-form form button {
    margin-top: 16px;
    margin-left: 0px;
  }
  .about-text h3 {
    font-size: 26px
  }
  .subscribe-form form input {
    font-size: 9px
  }
  .blog-thumb img {
    width: 100%;
  }
  .testimonial-name h4 {
    font-size: 15px;
  }
  .testimonial-name span {
    font-size: 0;
  }
  .footer-menu.text-right {
	text-align: center !important;;
}
}

/* retina query */

@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991.98px), only screen and (min--moz-device-pixel-ratio:2) and (max-width:991.98px), only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991.98px), only screen and (min-device-pixel-ratio:2) and (max-width:991.98px), only screen and (min-resolution:192dpi) and (max-width:991.98px), only screen and (min-resolution:2dppx) and (max-width:991.98px) {
  .logo .standard-logo {
    display: none;
  }
  .logo .retina-logo {
    display: inline-block;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
  .logo .standard-logo {
    display: none;
  }
  .logo .retina-logo {
    display: inline-block;
  }
}