/* google-fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

/* header-area-start */

.header-area {
	padding: 0 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.main-menu nav ul li a {
	color: #343434;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
}

.main-menu nav ul li {
	display: inline-block;
	padding: 0px 0px;
	z-index: 9999 !important;
}

.slider-area img {
	width: 100%;
	margin: auto;
}

.main-menu nav ul li {
	margin-left: 40px;
}

.hire-us a {
	border: 1px solid #505cfd;
	padding: 15px 55px;
	border-radius: 30px;
}

.hire-us {
	margin-top: 49px;
}

/* slider-area-start */

.single-slider {
	background-image: url(../imgs/bg.jpg);
	height: 100vh;
	transform: rotate(0deg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: top
}

.slider-icon .fa {
	width: 50px;
	height: 50px;
	background: #5b93553d;
	font-size: 17px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	/*! border: var(--my-border); */
	color: var(--my-bg-color);
}

.slider-inner h2 {
	font-size: 72px;
	font-weight: 600;
	color: #595959;
	margin-bottom: 15px;
}

.slider-inner p {
	font-size: 15px;
	font-weight: 500;
	color: #343434;
	margin-bottom: 40px;
}

.slider-inner a.btn {
	padding: 20px 40px;
	border: var(--my-border);
	border-radius: 30px;
	font-size: 14px;
	color: #595959;
	font-weight: 600;
	font-family: poppins;
}

.slider-icon {
	margin: 25px 0px;
}

/* features-area-start */

.about-area {
	margin: 110px 0;
}

.bg-themes {
	background: var(--theme-bg);
	padding: 60px 0px;
	border-radius: 10px;
}

.single-feature i {
	color: #fff;
	margin-bottom: 30px;
	display: block;
	font-size: 30px;
}

.single-feature h3 {
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.single-feature p {
	color: #fff;
	font-size: 15px;
	line-height: 25px;
}

.features-area {
	margin-top: -100px;
	z-index: 9999;
	position: relative;
}

.about-text a.btn {
	border: 1px solid #505cfd;
	padding: 15px 55px;
	border-radius: 30px;
}

.about-text p {
	color: #666;
	font-size: 15px;
	margin-bottom: 48px;
}

.about-text h3 {
	font-size: 32px;
	font-weight: 600;
	color: #404044;
	margin-bottom: 30px;
}

.about-text h3::before {
	position: absolute;
	width: 79px;
	height: 2px;
	color: red;
	background: #3082a8;
	top: 80px;
	left: 18px;
	content: "";
}

/* subscribe-area-start */

.subscribe-area {
	background-image: url(../imgs/form.jpg);
	height: 300px;
	transform: rotate(0deg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.area-title h3 {
	font-size: 32px;
	margin-bottom: 20px;
}

.subscribe-form form input {
	width: 25%;
	margin: 21px 10px;
	border: 0;
	border-radius: 10px;
	height: 45px;
	color: #83807b;
	background: #42313117;
	text-align: center;
	padding: 0 20px;
}

.subscribe-form form button {
	border: 0;
	background: #505cfd;
	color: #fff;
	height: 45px;
	padding: 0 30px;
	border-radius: 30px;
	margin-left: 20px;
}

/* subscribe-area-ends  */

/* .services-wrapper  start*/

.services-wrapper:hover {
	background: #222;
	border-color: #222
}

.services-wrapper {
	padding: 50px 30px;
	border: 1px solid #ddd;
	transition: all .3s ease
}

.services-wrapper i {
	font-size: 48px;
	color: #505cfd;
	display: block;
	margin-bottom: 10px;
}

.services-wrapper h3 {
	font-size: 22px;
	margin-bottom: 25px;
	color: #222;
}

.services-wrapper:hover h3 {
	color: #fff
}

.services-wrapper a.btn {
	padding: 20px 40px;
	border: var(--my-border);
	border-radius: 30px;
	font-size: 14px;
	color: #595959;
	font-weight: 600;
	font-family: poppins;
}

.services-wrapper:hover a.btn {
	color: #fff
}

.services-wrapper p {
	margin-bottom: 60px;
	color: #777;
}

.services-wrapper:hover p {
	color: #ddd
}

/* .services-wrapper  ends*/

/* .pricing-area start*/

.pricing-wrapper h3 {
	font-size: 22px;
	padding: 35px 0px;
	border: 1px solid #cfd1fc;
}

.pricing-wrapper {
	border: 1px solid #cfd1fc;
	transition: all .3s ease;
	background: #ddd;
}

.pricing-wrapper span {
	font-size: 40px;
	font-weight: 600;
	color: #505cfd;
	position: relative;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 21px;
}

.pricing-wrapper span span {
	font-size: 20px;
	margin-top: 30px;
	display: inline-block;
	position: absolute;
	top: -37px;
	left: -14px;
}

.pricing-wrapper ul li {
	display: block;
	padding: 7px 0px;
	font-size: 15px;
}

.pricing-wrapper a.btn {
	padding: 20px 40px;
	border: var(--my-border);
	border-radius: 30px;
	font-size: 14px;
	color: #212547;
	font-weight: 600;
	font-family: poppins;
	margin: 30px 0px;
}

.pricing-wrapper:hover {
	background: #fff;
	box-shadow: 2px 2px 10px #866b6b;
}

.pricing-wrapper:hover a.btn {
	background: #505cfd;
	color: #fff
}

/* .pricing-area ends */

/* .counter-area start */

.counter-area {
	background: #505cfd;
	color: #fff;
}

.counter-wrapper i {
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
}

.counter-wrapper span {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10px;
	display: block;
	font-weight: 400;
	font-size: 30px;
}

/* .team-area start */

.team-wrapper {
	position: relative;
}

.team-wrapper:hover .team-img::before {
	opacity: 1;
	visibility: visible
}

.team-wrapper:hover .team-info {
	opacity: 1;
	visibility: visible
}

.team-info {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	transition: all 1s ease-out;
	opacity: 0;
	visibility: hidden;
}

.team-img::before {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
	content: "";
	background: #ffffffe6;
	transition: all .3s ease-out;
	visibility: hidden;
	opacity: 0
}

.team-icon a {
	color: #000;
	margin: 0px 3px;
}

.team-icon {
	margin-top: 10px;
}

.team-info h3 {
	margin: 5px 0px;
}

.latest-blog a.btn {
	padding: 20px 40px;
	border: var(--my-border);
	border-radius: 30px;
	font-size: 14px;
	color: #595959;
	font-weight: 600;
	font-family: poppins;
}

.latest-blog h3 {
	margin: 10px auto;
}

.latest-blog h3 a {
	font-size: 22px;
	font-weight: 400;
	color: #512020;
}

.latest-blog p {
	padding: 15px 0px;
}

.meta-line {
	background: #444;
	height: 2px;
	width: 30px;
	display: inline-block;
	position: relative;
	top: -2px;
	margin-left: 10px;
}

/* testimonila area start */

.testimonial-area {
	background-image: url(../imgs/partner/02banner.jpg);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.testimonial-item {
	background: rgba(255, 255, 255, 0.91);
	padding: 60px 100px;
}

.testimonial-name {
	margin-bottom: 15px;
}

.testimonial-active .slick-dots {
	margin-top: -40px;
	z-index: 9999;
	position: relative;
}

.testimonial-active .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.testimonial-active .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #444;
	border-radius: 50%;
	background: #fff
}

.testimonial-active .slick-dots li.slick-active button {
	background: #444
}

/* footer-area */

.footer-widget h3 {
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 1;
}

.contact-list {
	margin-bottom: 35px;
}

.contact-list li {
	line-height: 36px;
	color: #777;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 10px;
}

.footer-icon .fa {
	color: #fff;
	margin-right: 10px;
}

ul.footer-link li a::before {
	font-family: FontAwesome;
	top: 0;
	left: -5px;
	padding-right: 10px;
	content: "\f105";
}

.footer-link li {
	width: 50%;
	float: left;
}

ul.footer-link li a {
	color: #777;
	line-height: 36px;
	text-decoration: none
}

.news-title h4 a {
	font-size: 17px;
	color: #777;
	line-height: 30px;
}

.news-title span {
	color: #777;
}

.news-thumb {
	float: left;
}

.news-title {
	padding-left: 18px;
	overflow: hidden;
}

.news-title h4 {
	line-height: 1;
}

.footer-blog li {
	margin-bottom: 20px
}

.footer-blog li:last-child {
	margin-bottom: 0
}

.footer-menu nav ul li {
	display: inline-block;
}

.footer-menu nav ul li a {
	color: #777;
}

.copyright-text p {
	color: #777;
}

.copyright-border {
	border-top: 1px solid #777;
	padding: 30px 0;
}

/* mega and submenu options */

.main-menu ul {
	padding: 50px 0px;
}

.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative
}

.main-menu ul li a {
	color: #666;
	font-size: 15px;
	font-family: serif;
	display: block
}

.main-menu ul li a:hover {
	color: #4272d7
}

/* submenu */

.main-menu ul li ul.submenu {
	position: absolute;
	border-top: 3px solid #4272d7;
	width: 260px;
	background: #171a21;
	padding: 0px;
	margin: 50px 0px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	left: 0;
	top: 110%;
	z-index: 9999;
}

.main-menu ul li:hover ul.submenu {
	opacity: 1;
	visibility: visible;
	top: 100%
}

.main-menu ul li ul.submenu li {
	display: block;
	margin: 0;
	border-bottom: 2px solid #1e2128;
}

.main-menu ul li ul.submenu li:last-child {
	border: 0px
}

.main-menu ul li ul.submenu li a {
	padding: 15px 20px;
	color: white;
	font-size: 12px;
	transition: .3s;
	text-decoration: none;
}

.main-menu ul li ul.submenu li a:hover {
	background: #4272d7;
	padding-left: 30px
}

/* sub submenu */

.main-menu ul li ul.submenu li ul.submenu {
	position: absolute;
	left: 100%;
	top: 0%;
	opacity: 0;
	visibility: hidden;
	margin: 0;
}

.main-menu ul li ul.submenu li:hover>ul.submenu {
	opacity: 1;
	visibility: visible
}

.main-menu ul li ul.submenu li:hover>ul.submenu {}

.main-menu ul li ul.submenu li:hover>a {
	background: #4272d7
}

/* mega menu */

.main-menu ul li .mega-menu {
	position: absolute;
	width: 600px;
	background: #171a21;
	top: 110%;
	left: -651%;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	margin: 50px 0px;
	z-index: 9999;
}

.main-menu ul li .mega-menu ul {
	float: left;
	width: 33.33%;
	text-align: center;
}

.main-menu ul li:hover .mega-menu {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

.main-menu ul li .mega-menu ul:last-child {
	padding-right: 0
}

.main-menu ul li .mega-menu ul li {
	margin: 0;
	display: block;
	border-bottom: 2px solid #1e2128
}

.main-menu ul li .mega-menu ul li a {
	padding: 15px 20px;
	color: #ffffff;
	font-size: 12px;
	transition: .3s;
	text-decoration: none;
}

.main-menu ul li .mega-menu ul li a:hover {
	background: #4272d7;
	padding-left: 30px
}

/* mega and submenu options */