:root {
	--my-bg-color: #red;
	--my-border: 2px solid red;
}

/* basic structure start*/

body {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box
}

a, a:hover{
	text-decoration: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, input, button, ul, li, p {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* basic structure ends*/

/* header section*/

/* header section*/
